@if (addModalActive) {
  <app-add-ledger (closeModal)="toggleAddModal()"></app-add-ledger>
}

@if (editModalActive && selectedLedger) {
  <app-edit-ledger [ledger]="selectedLedger" (closeModal)="toggleEditModal()"></app-edit-ledger>
}

<section class="section">
  <div class="container">
    <h1 class="title">Ledgers</h1>
    <h2 class="subtitle">List of active ledgers</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="block">
      <button class="button is-primary is-soft" (click)="toggleAddModal()">Add Ledger</button>
    </div>

    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr class="has-background-info-soft">
          <th class="has-text-info-bold">Name</th>
          <th class="has-text-info-bold">Description</th>
          <th class="has-text-info-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (ledger of ledgers | async; track ledger.id) {
          <tr>
            <td>{{ ledger.name }}</td>
            <td>{{ ledger.description }}</td>
            <td>
              <div class="buttons are-small">
                <button class="button is-success is-soft" disabled>View</button>
                <button class="button is-warning is-soft" (click)="selectLedger(ledger); toggleEditModal()">Edit</button>
                <button class="button is-danger is-soft" (click)="archiveLedger(ledger.id)">Archive</button>
              </div>
            </td>
          </tr>
        }
        @empty {
          <tr>
            <td colspan="3">You have no active ledgers.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
