<section class="section">
  <div class="container">
    <h1 class="title">Dashboard</h1>
    <h2 class="subtitle">Overview of the app</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="box has-background-info-soft">
      <nav class="level is-unselectable">
        <div class="level-item has-text-centered">
          <div>
            <p class="title has-text-info-bold">0</p>
            <p class="subtitle has-text-info-bold">Ledgers</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title has-text-info-bold">0</p>
            <p class="subtitle has-text-info-bold">Archived</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title has-text-info-bold">0</p>
            <p class="subtitle has-text-info-bold">Categories</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
