@if (addModalActive) {
  <app-add-category (closeModal)="toggleAddModal()"></app-add-category>
}

@if (editModalActive && selectedCategory) {
  <app-edit-category [category]="selectedCategory" (closeModal)="toggleEditModal()"></app-edit-category>
}

<section class="section">
  <div class="container">
    <h1 class="title">Categories</h1>
    <h2 class="subtitle">List of categories</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="block">
      <button class="button is-primary is-soft" (click)="toggleAddModal()">Add Category</button>
    </div>

    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr class="has-background-info-soft">
          <th class="has-text-info-bold">Name</th>
          <th class="has-text-info-bold">Budget</th>
          <th class="has-text-info-bold">End Date</th>
          <th class="has-text-info-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (categoryWithEntries of categoriesWithEntries | async; track categoryWithEntries.category.id) {
          <tr>
            <td>{{ categoryWithEntries.category.name }}</td>
            <td [class.has-text-warning]="(categoryWithEntries.entries | balance | absolute | percentage: categoryWithEntries.category.budget) >= 80"
                [class.has-text-danger]="(categoryWithEntries.entries | balance | absolute | percentage: categoryWithEntries.category.budget) >= 100">
              {{ categoryWithEntries.entries | balance | absolute }} / {{ categoryWithEntries.category.budget }}
            </td>
            <td>{{ categoryWithEntries.category.endDate | date: 'dd-MM-yyyy' }}</td>
            <td>
              <div class="buttons are-small">
                <button class="button is-warning is-soft" (click)="selectCategory(categoryWithEntries.category); toggleEditModal()">Edit</button>
                <button class="button is-danger is-soft" (click)="deleteCategory(categoryWithEntries.category.id)">Delete</button>
              </div>
            </td>
          </tr>
        }
        @empty {
          <tr>
            <td colspan="4">You have no categories</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
