@let entryList = entries | async;

@if (addModalActive) {
  <app-add-entry [ledgerId]="ledgerId" (closeModal)="toggleAddModal()"></app-add-entry>
}

@if (editModalActive && selectedEntry) {
  <app-edit-entry [ledgerId]="ledgerId" [entry]="selectedEntry" (closeModal)="toggleEditModal()"></app-edit-entry>
}

<section class="section">
  <div class="container">
    <h1 class="title">{{ ledgerName ?? 'Loading...' }}</h1>
    <h2 class="subtitle">{{ ledgerDescription ?? 'Loading...' }}</h2>
    <button class="button is-link is-soft" routerLink="/ledgers">Back to Overview</button>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <button class="button is-primary is-soft" (click)="toggleAddModal()">Add Entry</button>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="tags are-medium has-addons">
            <span class="tag has-background-dark-soft has-text-dark-bold">Balance</span>
            <span class="tag" [class]="(entryList | balance) >= 0 ? 'has-background-success-soft has-text-success-bold' : 'has-background-danger-soft has-text-danger-bold'">
              {{ entryList | balance | number: '1.2-2' }}
            </span>
          </div>
        </div>
        <div class="level-item">
          <div class="tags are-medium has-addons">
            <span class="tag has-background-dark-soft has-text-dark-bold">Month</span>
            <span class="tag has-background-info-soft has-text-info-bold">{{ selectedDate | async | date: 'MMMM y' }}</span>
          </div>
        </div>
        <div class="level-item">
          <div class="buttons">
            <button class="button is-info is-soft" (click)="changeMonth(-1)">Previous</button>
            <button class="button is-info is-soft" (click)="setCurrentMonth()">Current</button>
            <button class="button is-info is-soft" (click)="changeMonth(1)">Next</button>
          </div>
        </div>
      </div>
    </nav>

    <table class="table is-fullwidth is-an is-hoverable is-striped">
      <thead>
        <tr class="has-background-info-soft">
          <th class="has-text-info-bold">Date</th>
          <th class="has-text-info-bold">Description</th>
          <th class="has-text-info-bold">Amount</th>
          <th class="has-text-info-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (entry of filteredEntries | async; track entry.id) {
          <tr>
            <td>{{ entry.createdOn | date: 'dd-MM-yyyy' }}</td>
            <td>{{ entry.description }}</td>
            <td [class]="entry.type === 'credit' ? 'has-text-success' : 'has-text-danger'">
              {{ entry.amount | amount: entry.type }}
            </td>
            <td>
              <div class="buttons are-small">
                <button class="button is-warning is-soft" (click)="selectEntry(entry); toggleEditModal()">Edit</button>
                <button class="button is-danger is-soft" (click)="deleteEntry(entry.id)">Delete</button>
              </div>
            </td>
          </tr>
        }
        @empty {
          <tr>
            <td colspan="4">You have no entries for this month</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
