<section class="section">
  <div class="container">
    <h1 class="title">Archive</h1>
    <h2 class="subtitle">List of archived ledgers</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr class="has-background-info-soft">
          <th class="has-text-info-bold">Name</th>
          <th class="has-text-info-bold">Description</th>
          <th class="has-text-info-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (ledger of ledgers | async; track ledger.id) {
          <tr>
            <td>{{ ledger.name }}</td>
            <td>{{ ledger.description }}</td>
            <td>
              <button class="button is-success is-soft is-small" (click)="restoreLedger(ledger.id)">Restore</button>
            </td>
          </tr>
        }
        @empty {
          <tr>
            <td colspan="3">You have no archived ledgers</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
