<div class="modal is-active">
  <div class="modal-background" (click)="closeModal.emit()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Ledger</p>
      <button class="delete" (click)="closeModal.emit()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <app-ledger-form [ledgerName]="ledger().name" [ledgerDescription]="ledger().description"></app-ledger-form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success is-soft" (click)="submitLedger()">Edit</button>
        <button class="button is-danger is-soft" (click)="closeModal.emit()">Cancel</button>
      </div>
    </footer>
  </div>
</div>
